html, body {

    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

    font-family: sans-serif; 

}

html, body, body * {

    box-sizing: border-box;

}


header,
section,
footer,
section ul li {
   
   width: 100%; 

}

header {

    display: flex;
    align-items: center;
    justify-content: center;

    background: white;
    height: 10vh;
     
}

header h1 {

    font-size: 1.3em;
    text-shadow: 3px 3px 0px lightgray;
    width: calc(100% - 120px);
    text-align: center;

}

header > aside {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > aside > i:nth-child(1) {
    padding: 10px;
}

section {

    height: 90vh;
    padding: 40px 80px; 
    background: whitesmoke;

}

ul {
}

::-webkit-scrollbar {
    display: none;
}

section ul {

    width: 100%;
    height: calc(90vh - 80px);
    max-height: calc(90vh - 80px);

    overflow-y: scroll;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    margin: 0 auto;
    padding: 0px;

    box-shadow: 4px 4px 0px;

    list-style-type: none;

    text-align: center;
}



section ul li {

    white-space: nowrap;
    display: flex;
    align-items: center; 
    justify-content: center;
    overflow-x: scroll;

    height: 10vh;

}

li.item a.item-link {
    width: 60%;
}

li.item > aside.toggle-read-wrapper {
    margin-right: auto;
}
li.item > aside.remove-wrapper {
    margin-left: auto;
}

li.item > aside.toggle-read-wrapper,
li.item > aside.remove-wrapper {
    width: 20%;    
}

section ul li a {
    overflow-x: scroll;
}

footer {

    background: rgb(70,70,70);;
    height: 0vh;

}
