html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: sans-serif;
}

html, body, body * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header {
    height: 280px;
    width: 100%;
    background: rgb(40,40,40);
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 10%;
    justify-content: center;
}

header > h1 {
    color: whitesmoke;
    font-weight: lighter;
}

header > ul {
    padding-top: 40px;
    font-weight: lighter;
}

header > ul > li {
    color: whitesmoke;
    display: inline-block;
    list-style-type: none;
}

body::-webkit-scrollbar {
    display: none;
}

section {
    font-family: sans-serif;
    line-height: 1.5em;
    padding-top: 6%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

p {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    height: 60px;
    background: rgb(40,40,40);
    border-top: 1px solid rgb(190,190,190);

}

@media(max-width: 400px) {

    section {
        padding-top: 12%;
        padding-bottom: 10%;
        padding-left: 8%;
        padding-right: 8%;
    }

}
